<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="number">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h3>สูตรคูณแม่ {{number}}</h3>
		<h4 v-for="i in r">{{number}} * {{i}} = {{mul(i)}}</h4>
		<h3>sum {{sum}}</h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 2,
				row: 12
			},
			methods:{
				mul: function(row){
					return this.number*row
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				},
				sum: function() {
					let sum = 0
					for (var i = 1; i <= this.r; i++) {
						sum = sum + (this.mul(i))
					}
					return sum
				},
			}
		})
	</script>
</body>
</html>